* {
  /* overflow: hidden; */
}
.card_container {
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 10px;
  color: black;
  text-decoration: none;
  position: relative;
}

.card_container img {
  width: 100%;
  height: 200px;
  padding: 10px;
  object-fit: contain;
  padding: 0px 10px;
}
.card_container h2,
.card_container p {
  padding: 5px;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 500;
}

.button {
  display: none;
  margin: 10px 0px;
  width: 100%;
  text-align: center;
  padding: 5px 20px;
  font-weight: 700;
  background-color: #fde142;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.button:hover {
  background-color: #f7b500;
}

.card_container:hover .button {
  display: block;
}
.card_container:hover {
  transform: scale(1.005);
}

.hidden {
  display: none;
}
.rating {
  display: flex;
  align-items: center;
  margin: 5px 0px;
}

.products_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  max-width: 1450px;
  gap: 30px;
  padding: 10px;
  margin: 100px auto;
  width: 85%;
  justify-items: center;
}

.products_container section {
  margin: 0 auto;
}

.product_flex {
  box-shadow: none;
  height: auto;
  display: flex;
  gap: 50px;
  width: 100%;
}

.product_flex h3 {
  padding: 20px 0px;
}

.product_flex .button {
  display: block;
  position: static;
  width: 150px;
  margin-right: 40px;
}

.product_flex .hidden {
  width: 200px;
}

.product_flex {
  height: 50vh;
}

.product_flex img {
  width: 350px !important;
  height: auto;
}
.rating p {
  margin: 0px !important;
}
@media screen and (max-width: 768px) {
  .product_flex {
    display: flex;
    flex-direction: column;
    height: unset;
    margin-bottom: 15px;
  }

  .product_flex img {
    width: 250px !important;
    height: auto;
  }
  .rating p {
    margin: 0px !important;
  }
}
@media (min-width: 550px) and (max-width: 640px) {
  .products_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr)) !important;
    gap: 20px;
    padding: 10px;
    margin: 100px auto;
    width: 90%;
    justify-items: center;
  }
  .card_container {
    width: 220px;
  }
  .card_info h3 {
    font-size: 16px;
  }
  .rating p {
    margin: 0px !important;
  }
  .product_flex {
    display: flex;
    flex-direction: column;
    height: unset;
    width: 100% !important;
    margin-bottom: 15px;
    .card_info h3 {
      font-size: 16px;
    }
  }

  .product_flex img {
    width: 250px !important;
    height: auto;
  }
}

@media (min-width: 460px) and (max-width: 550px) {
  .products_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr)) !important;
    gap: 10px;
    padding: 10px;
    margin: 100px auto;
    width: 100%;
    justify-items: center;
  }
  .card_container {
    width: 200px;
  }
  .card_info h3 {
    font-size: 14px;
  }
  .rating p {
    margin: 0px !important;
  }
  .product_flex {
    display: flex;
    flex-direction: column;
    height: unset;
    width: 100% !important;
    margin-bottom: 15px;
    .card_info h3 {
      font-size: 16px;
    }
  }

  .product_flex img {
    width: 250px !important;
    height: auto;
  }
}
@media (min-width: 400px) and (max-width: 460px) {
  .products_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)) !important;
    gap: 10px;
    padding: 10px;
    margin: 80px auto;
    width: 100%;
    justify-items: center;
  }
  .card_container {
    width: 170px;
  }
  .card_info h3 {
    font-size: 13px;
  }
  .rating p {
    margin: 0px !important;
  }
  .product_flex {
    display: flex;
    flex-direction: column;
    height: unset;
    width: 100% !important;
    margin-bottom: 15px;
    .card_info h3 {
      font-size: 16px;
    }
  }

  .product_flex img {
    width: 250px !important;
    height: auto;
  }
}

@media (min-width: 385px) and (max-width: 400px) {
  .products_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)) !important;
    column-gap: 5px;
    row-gap: 15px;
    padding: 10px;
    margin: 80px auto;
    width: 100%;
    justify-items: center;
  }
  .card_container {
    width: 160px;
  }
  .card_info h3 {
    font-size: 12px;
  }
  .rating p {
    margin: 0px !important;
  }
  .product_flex {
    display: flex;
    flex-direction: column;
    height: unset;
    width: 100% !important;
    margin-bottom: 15px;
    .card_info h3 {
      font-size: 16px;
    }
  }

  .product_flex img {
    width: 250px !important;
    height: auto;
  }
}

@media (min-width: 350px) and (max-width: 385px) {
  .products_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)) !important;
    column-gap: 5px;
    row-gap: 15px;
    padding: 10px;
    margin: 80px auto;
    width: 100%;
    justify-items: center;
  }
  .card_container {
    width: 140px;
  }
  .card_info h3 {
    font-size: 12px;
  }
  .rating {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    width: fit-content;
    size: 10px;
  }
  .rating p {
    margin: 0px;
  }

  .product_flex {
    display: flex;
    flex-direction: column;
    height: unset;
    width: 100% !important;
    margin-bottom: 15px;
    .card_info h3 {
      font-size: 16px;
    }
  }

  .product_flex img {
    width: 250px !important;
    height: auto;
  }
}
