@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

:root {
  --primary-color: #febd69;
  --primary-shade: #f3a847;
  --secondary-color: #232f3e;
  --amazon-blue: #131921;
  --background-color: #eaeded;
  --text-color: #111;
  --transition-speed: 0.3s;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}


 @media (min-width:650px) { 

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}
}
 
